
<div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class=img-responsive src="https://bit.ly/2XZ0HeU" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h3>Magie</h3>
            <p>Des shows spectaculaire</p>
          </div>
        </div>
        <div  class="carousel-item">
          <img class=img-responsive src="https://bit.ly/2XT7XOn" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Domptage</h5>
            <p>Des animaux inédits</p>
          </div>
        </div>
        <div  class="carousel-item">
          <img class=img-responsive src="https://bit.ly/30DcukX" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Equilibriste</h5>
            <p>des cascade digne de grand maître</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
      </a>
    </div>
   </div> 
  
   <div class="promo">
   <div class="alert" role="alert">
    <strong>Entrée gratuite pour les enfant de moins de 7 ans</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  </div>