<div class="container-fluid  font-small black">
  <h2 class="title "> NOUS SITUER </h2>
  <br />
  <div class="row">

    <div class="section col-lg-3 col-md-12 part ">
      <br />
      <div class="frame2">
        <h3>SPORT FOR <div class="title2">YOU </div>
        </h3>
        <p><span class="subtittle ">Espace de Fitness</span></p>
        <p>Avenue de Beauce
          <br />
          <span class="ml-1">28240</span>
          <span class="bold ml-1">LA LOUPE</span>
        </p>
      </div>
      <br />
      <div class="frame2"> <i class="fas fa-envelope center"></i><span class="ml-1">sportforyoulaloupe@gmail.com</span>
        <i class="fas fa-phone center"></i><span class="ml-1 bold"> 02 37 52 43 89</span>
      </div>


    </div>

    <div class="section col-lg-6 col-md-12 ">

      <p id="frugalmap" class=""> </p>
    </div>

    <div class="section col-lg-3 col-md-12 ">
      <br />
      <div class="frame2">
        <h3> <i class="fas fa-stopwatch"></i><span class="ml-2">Horaires de la salle de sport :</span>
        </h3>
        <p>Du lundi au Vendredi : <br />8h30 - 20h30</p>
        <p>Le samedi : 9h00 - 12h00</p>
        <p>Fermée le samedi après-midi et le dimanche</p>
      </div>
    </div>
  </div>

</div>