.hoverZoom {
    height: 300px;
    overflow: hidden; 
  }
  
  
  .hoverZoom img {
    transition: transform 1s ease;
    box-shadow: 0px 0px 0px rgb(12, 11, 0);
  }
  
  
  
  
  #myImg {
  border-radius: 3px;
  transition: 0.3s;
  }
  
  #myImg:hover {
  opacity: 0.5;
  cursor: crosshair;
  }
  
  
  .modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(129, 29, 29); 
  background-color: rgba(0,0,0,0.9); 
  
  
  }
  
  
  .modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  }
  
  
  #caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
  }
  
  
  .modal-content, #caption { 
  animation-name: zoom;
  animation-duration: 0.6s;
  }
  
  @keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
  }
  
  
  .close {
  position: relative;
  top: 10%;
  right: 15%;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
  
  }
  
  
  @media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
  }
  
  @media only screen and (max-width: 300px){
  .img{
    box-shadow: 0px 0px 0px rgb(12, 11, 0);
  }
  .close {
    position: relative;
    top: 80%;
    right: 50%;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  }
  
  
  img{
    border:2px solid yellow;
    border-radius: 5%;
    box-shadow: 3px 2px 12px rgb(236, 222, 16);
    cursor: zoom-in;
  }
  
  
  @-webkit-keyframes shine {
  100% {
    left: 125%;
  }
  }
  @keyframes shine {
  100% {
    left: 125%;
  }
  }
  h2{
    text-align: center;
  }
  
  @media (min-width: 468px) {
  .carousel-multi-item-2 .col-md-3 {
    float: left;
    width: 25%;
    max-width: 100%; 
  } 
  .hoverZoom:hover img {
    transform: scale(1.2);
    border:0px solid rgb(17, 0, 0);
  
  }
  }
  
  .carousel-multi-item-2 .card img {
  border-radius: 2%; 
  }
  .img-fluid{
  height: 250px;
  }
  .controls-top{
  text-align: center;
  color: rgb(241, 241, 12);
  padding: 2%;
  }
  .container{
    background-color: rgb(180, 7, 7);
  }