img {   
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
 }

 .promo {    
    position: absolute;
    top: 70%;    
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0.7;
    background-color: white;
    color: rgb(253, 119, 119);
    border-radius: 3px 3px 3px;
    border: 1px solid red; 
 }