.navbar, .navbar ul li a{
        font-weight: bold;
    color:white;
}
.navbar li a:hover{
    border-bottom: 0.1px solid white;
    border-top: 0.1px solid white;
} 

.navbar{
    position: fixed;
    width: 100%;
    z-index: 10;
}
.rideau{
   
    background-color: rgb(110, 4, 4);
    background-repeat: repeat-x;
}
