<nav class="navbar navbar-expand-lg navbar-dark">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="basicExampleNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="home" fragment="home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="gallery" fragment="gallery">activités</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="planning" fragment="planning">Planning</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="price" fragment="price">Tarifs</a>
      </li>



      <li class="nav-item">
        <a class="nav-link" routerLink="location" fragment="location">Nous trouver</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contactus" fragment="contactus">Nous Contacter</a>
      </li>
    </ul>
  </div>
</nav>
