<footer class="page-footer font-small black">
        <div class="container">
          <div class="row text-center d-flex justify-content-center pt-5 mb-3">
            <div class="col-md-2 mb-3">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!">Mentions légales</a>
              </h6>
            </div>
          </div>
          <hr class="rgba-white-light" style="margin: 0 15%;">
          <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
            <div class="col-md-8 col-12 mt-5">
              <p style="line-height: 1.7rem">Nos coachs seront heureux de vous guider et de vous accompagner pour atteindre
                vos
                objectifs. Musculation, salle de fitness, cardio, tout est au rendez-vous pour vous
                satisfaire.</p>
              <p>Alors, n'hésitez plus !</p>
            </div>
          </div>
          <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
          <div class="row pb-3">
            <div class="col-md-12">
              <div class="mb-5 flex-center">
                <a class="fb-ic">
                  <i class="fab fa-facebook-f fa-lg blue-text mr-4"> </i>
                </a>
                <a class="tw-ic">
                  <i class="fab fa-twitter fa-lg blue-text mr-4"> </i>
                </a>
                <a class="ins-ic">
                  <i class="fab fa-instagram fa-lg pink-text mr-4"> </i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center py-3">© 2019
          <a href="https://www.wildcodeschool.fr"> Wild Code School</a>
        </div>
      </footer>