
 section{
    margin-bottom: 3%;
 }
 *{
    font-family: 'Racing Sans One', cursive;
    font-size: 1.5rem;
  }
  .gallerypart{
      margin-top: 3%;
  }.part{
    border: solid black;
 }
 section{
    margin-bottom: 3%;
 }
 *{
    font-family: 'Racing Sans One', cursive;
    font-size: 1.5rem;
  }
  .gallerypart{
      margin-top: 3%;
  }