<app-navbar></app-navbar>


<div>
  <div class="squeletonImpair">
    <app-home id="home"></app-home>
  </div>
  <br>

  <hr class="rgba-white-light" style="margin: 0 15%;border:solid 1.5px white;">
  <div class="squeletonPair">
    <app-gallery id="gallery"></app-gallery>
  </div>

   <hr class="rgba-white-light" style="margin: 0 15%;border:solid 1.5px white;">
  <div class="squeletonImpair">
    <app-price id="price"></app-price>
  </div>

   <hr class="rgba-white-light" style="margin: 0 15%;border:solid 1.5px white;">
  <div class="squeletonPair">
    <app-location id="location"></app-location>
  </div>

   <hr class="rgba-white-light" style="margin: 0 15%;border:solid 1.5px white;">
  <div class="squeletonImpair">
    <app-contactus id="contactus"></app-contactus>
  </div>
</div>
<app-footer></app-footer>

