button{
    color: white;
   display: block;
   margin: auto;
 }
 h2{
    text-align: center;
 }
 label{
    color: white;
 }
 .required{
 
    color: white;
 }
 *{
    color: white;
 }
 
 p{
    text-align: center;
 }
 .btn{
    background-color: white
 }
 .envoyer{
    color: rgb(110, 4, 4)
 }