<h2 class="title-tarifs">FORMULES ET TARIFS</h2>
<div class="col-lg-12 col-md-12 col-sm-12">
  <h5>SPORT FOR YOU vous propose des formules d'abonnement avec un accès illimité à la salle :</h5>
</div>


<div class="title row">
  <div class="col-lg-3 col-md-6 col-sm-6">


    <div class="plan1">
      <h3> PASS 1 JOUR </h3><span> 10,00€/mois </span>
      <p>FORMULE "Découverte"</p>
      <a class="button" routerLink="forms" fragment="forms" m>S'inscrire</a>
      <ul>
        <br>
        <li>
          <i class="fas fa-check">Paiement comptant</i>
        </li>
        <li>
          <i class="fas fa-check">Accès illimité</i>
        </li>
      </ul>
    </div>

  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="plan2">
      <h3> ABO 1 MOIS </h3><span> 49,90€/mois </span>
      <p>FORMULE "Mensuelle"</p>
      <a class="button" routerLink="forms" fragment="forms">S'inscrire</a>
      <ul>
        <br />
        <li>
          <i class="fas fa-check">Paiement comptant</i>
        </li>
        <li>
          <i class="fas fa-check">Aucun frais d'adhésion</i>
        </li>
        <li>
          <i class="fas fa-check">Accès aux cours collectifs</i>
        </li>

      </ul>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="plan3">
      <h3> ABO 3 MOIS </h3><span> 46,00€/mois </span>
      <p>FORMULE "Trimestrielle"</p>
      <a class="button" routerLink="forms" fragment="forms">S'inscrire</a>
      <ul>
        <br />
        <li>
          <i class="fas fa-check">Paiement comptant</i>
        </li>
        <li>
          <i class="fas fa-check">Aucun frais d'adhésion</i>
        </li>
        <li>
          <i class="fas fa-check">Accès aux cours collectifs</i>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="plan4">
      <h3> ABO 1 AN </h3><span> 29,90€/mois </span>
      <p>FORMULE "Annuelle"</p>
      <a class="button" routerLink="forms" fragment="forms">S'inscrire</a>
      <ul>
        <br />
        <li>
          <i class="fas fa-check">Prélèvement autorisé</i>
        </li>
        <li>
          <i class="fas fa-check">Accès aux cours collectifs</i>
        </li>
        <li>
          <i class="fas fa-check">Formule la plus complète</i>
        </li>
        <li>
          <i class="fas fa-info-circle">Frais d'adhésion 49,90€</i>
        </li>
        <li>
            <i class="fas fa-info-circle">Préavis de 2 mois</i>
          </li>
      </ul>
    </div>
  </div>
</div>
<br/>