<div class="container-fluid  font-small couleur">
  <h2 class="title "> NOUS SITUER </h2>
  <br />
  <div class="row">

    <div class="section col-lg-3 col-md-12 part ">
      <br />
      <div class="frame2">
        <h3>Wild Circus</h3>
        <p>12 rue du wildcircus
          <br />
          <span class="ml-1">99999</span>
          <span class="bold ml-1">wildcircus cedex</span>
        </p>
      </div>
      <br />
      <div class="frame2"> <i class="fas fa-envelope center"></i><span class="ml-1">wildcircus@gmail.com</span>
       <br> <i class="fas fa-phone center"></i><span class="ml-1 bold"> 02 32 32 32 32 </span>
      </div>


    </div>

    <div class="section col-lg-6 col-md-12 ">

      <p id="frugalmap" class=""> </p>
    </div>

    <div class="section col-lg-3 col-md-12 ">
      <br />
      <div class="frame2">
        <h3> <i class="fas fa-stopwatch"></i><span class="ml-2">Horaires des spectacles:</span>
        </h3>
        <p>Du lundi au Vendredi : <br />16h00 -18h00</p>
        <p>Le samedi : 20h00 - 22h00</p>
        <p>Le dimanche : 14h00 - 16h00</p>
      </div>
    </div>
  </div>

</div>
